.ending_title {
    text-align: center;
    margin: 2% 0 4% 0;
}

.table {
    width: 70%;
    margin-left: 15%;
    border: 1px solid black;
    border-collapse: collapse;
}

.tbody {
    width: 80%;
}

td {
    text-align: center;
    border: 1px solid rgba(1, 1, 1, 0.3);
}